In [1]:
#List
integers = ['1','2','3','4','5']
# Appending number 6 at the end of the list
integers.append('6')
print(integers)

['1', '2', '3', '4', '5', '6']

In [2]:
# to find the length of the list
numbers = ['11','38','85','72','97','29','51','61','16','60','53']
print(len(numbers))

11

In [4]:
# to remove a specific fruit (orange) from the list
fruits = ['Apple','Mango','Orange','Grape','Lemon','Watermelon','Pear','Pawpaw',]
fruits.remove('Orange')
print(fruits)

['Apple', 'Mango', 'Grape', 'Lemon', 'Watermelon', 'Pear', 'Pawpaw']

In [5]:
# to check if a particular element (lemon) exist
fruits = ['Apple','Mango','Orange','Grape','Lemon','Watermelon','Pear','Pawpaw',]
print('Lemon' in fruits)

True

In [7]:
# to find the maximum value in numbers
numbers = ['11','38','85','72','97','29','51','61','16','60','53']
print(max(numbers))

97

In [8]:
#to find the minimum values in numbers
print(min(numbers))

11

In [9]:
# to sort a list of names in alphabetical order
names = ['Dele','Ayo','Clara','Divine','Betty','Gideon','Kathy','Evelyn','Amara']
names.sort()
print(names)

['Amara', 'Ayo', 'Betty', 'Clara', 'Dele', 'Divine', 'Evelyn', 'Gideon', 'Kathy']

In [13]:
#create a list (food) with duplicate elements, to remove duplicates and create a new list without duplicates
food = ['Rice','Beans','Peas','Akara','Pasta','Beans']
new_food = list(set(food))
print(new_food)

['Rice', 'Pasta', 'Peas', 'Beans', 'Akara']

In [14]:
#to reverse the list (fruits) in place  duplicates
fruits = ['Apple','Mango','Grape','Lemon','Watermelon','Pear','Pawpaw',]
fruits.reverse()
print(fruits)

['Pawpaw', 'Pear', 'Watermelon', 'Lemon', 'Grape', 'Mango', 'Apple']

In [17]:
#if you have two lists and you want to combine them to create a new list
fruits = ['Apple','Mango','Grape','Lemon','Watermelon','Pear','Pawpaw',]
food = ['Rice','Beans','Peas','Akara','Pasta','Beans']
allFoods = fruits + food
print(allFoods)

['Pawpaw', 'Pear', 'Watermelon', 'Lemon', 'Grape', 'Mango', 'Apple', 'Rice', 'Beans', 'Peas', 'Akara', 'Pasta', 'Beans', 'Rice', 'Beans', 'Peas', 'Akara', 'Pasta', 'Beans']

In [19]:
# you can iterate a list by using the for loop operation. So performing the multiplication operation we have:
my_list = [1, 2, 3, 4, 5]

for element in my_list:# Perform operations on element
    print(element * 2)  # Example: Multiply each element by 2

2
4
6
8
10

In [19]:
#Tuple
score = (45,83,34)
# you can select the second number by indicating the index of the second number
print(score[1])

83

In [27]:
# No it is not possible to modify a tuple after it is created. Tuple are designed to be fixed and unchangeable after
# it has been created
print(score.sort())

AttributeError: 'tuple' object has no attribute 'sort'

In [21]:
# you can concantenate two tuple to create a new tuple by using the addition operation
tuple1 = (56,85,42)
tuple2 = (40,78,54)
tuple3 = tuple1 + tuple2
print(tuple3)

(56, 85, 42, 40, 78, 54)

In [22]:
# to find the index of a particular number(78) in tuple3
tuple3 = (56, 85, 42, 40, 78, 54)
print(tuple3.index(78))

4

In [24]:
# Yes you can by using the list() function
my_list = list(tuple3)
print(my_list)

[56, 85, 42, 40, 78, 54]

In [25]:
#to find the occurence of a particular element in the tuple 
tuple4 = (56,78,43,57,58,64,78,48,78,32)
print(tuple4.count(78))

3

In [26]:
# yes you can unpack the elements of a tuple into individual variables in python by assigning a variable to each element
tuple1 = (56,85,42)
x,y,z = tuple1
print(x)
print(y)
print(z)

56
85
42

In [28]:
# Yes, a tuple can contain more than one data type. For example:
myTuple = (34,'Ball',2.56,False)
print(myTuple)

(34, 'Ball', 2.56, False)

In [29]:
# to check if a particular element exist in a tuple you use Membership operators
tuple1 = (56,85,42)
print(43 in tuple1)

False

In [31]:
# to find the length of a given tuple
tuple4 = (56,78,43,57,58,64,78,48,78,32)
print(len(tuple4))

10

In [32]:
#Dictionary
info = {
    'Name':'Pamela',
    'Age':23,
    'City':'Gwagwalada'
}
print(info)

{'Name': 'Pamela', 'Age': 23, 'City': 'Gwagwalada'}

In [33]:
#to add a new key-value to the existing dictionary above
info['Gender'] = 'Female'
print(info)

{'Name': 'Pamela', 'Age': 23, 'City': 'Gwagwalada', 'Gender': 'Female'}

In [41]:
#to access a value associated with a specific key
city = info['City']
print(city)

Gwagwalada

In [20]:
# you can iterate through it by using the for loop
myFruits = {
    'Apple':25,
    'Banana':45,
    'Pear':32,
    'Orange':12
}
for fruit_name in myFruits.keys():
    quantity = myFruits[fruit_name]  # Access value using the key
    print(f"{fruit_name}: {quantity}")

Apple: 25
Banana: 45
Pear: 32
Orange: 12

In [43]:
#to check if a specific key exist in a dictionary you use membership operator
print('City' in info)

True

In [45]:
# No, dictionary cannot have duplicate keys, each key must be unique to a value or values in a dictionary or else 
# the new key will override the previous key
info = {
    'Name':'Pamela',
    'Age':23,
    'City':'Gwagwalada',
    'Name':'Ayo'
}
print(info)

{'Name': 'Ayo', 'Age': 23, 'City': 'Gwagwalada'}

In [24]:
# To merge two dictionaries into one
dict1 = {
    'Name':'Pamela',
    'Age':23,
    'City':'Gwagwalada'
}
dict2 = {
    'Apple':25,
    'Banana':45,
    'Pear':32,
    'Orange':12
}

dict1.update(dict2)
print(dict1)

{'Name': 'Pamela', 'Age': 23, 'City': 'Gwagwalada', 'Apple': 25, 'Banana': 45, 'Pear': 32, 'Orange': 12}

In [16]:
# to access a value deep within the nested structure, you have turn the dictionaries you nested into keys
allDict = {
    'dict1': {
        'Name': 'Pamela',
        'Age': 23,
        'City': 'Gwagwalada'
    },
    'dict2': {
        'Apple': 25,
        'Banana': 45,
        'Pear': 32,
        'Orange': 12
    }
}

print(allDict['dict2']['Pear'])

32

In [27]:
# to remove a key-value pair in a dictionary
dict2 = {
    'Apple':25,
    'Banana':45,
    'Pear':32,
    'Orange':12,
    'Grape':30
}
dict2.pop('Grape')
print(dict2)

{'Apple': 25, 'Banana': 45, 'Pear': 32, 'Orange': 12}

In [18]:
# If you try to access a key that does not exist in the dictionary, it will read error. For example
dict1 = {
        'Name': 'Pamela',
        'Age': 23,
        'City': 'Gwagwalada'
}

print(dict1['Gender'])

KeyError: 'Gender'