In [42]:
stock = {}

def add_item(item_id, name, quantity):
    if item_id not in stock:
        stock[item_id]= {'name': name, 'quantity': quantity}
        print(f"Item {name} added to stock with ID {item_id}")
    else:
        print(f"Item with ID {item_id} already exists. Use update_item to modify.")
        
def search_item(item_id):
    if item_id in stock:
        item = stock[item_id]
        print(f"Item ID:{item_id}, Name: {item['name']}, Quantity: {item['quantity']}")
    else:
        print(f"Item with ID {item_id} not found in stock")
        
def delete_item(item_id):
    if item_id in stock:
        del(stock[item_id])
        print(f"Item with ID {item_id} deleted from stock")
    else:
        print(f"Item with ID {item_id} not found in stock")
        
def update_item(item_id):
    if item_id in stock:
        item_id =
        print(f"Item with ID {item_id} deleted from stock")
    else:
        print(f"Item with ID {item_id} not found in stock")
    

def display_stock():
    print("\nCurrent Stock:")
    for item_id, item in stock.items():
        print(f"Item ID:{item_id}, Name: {item['name']}, Quantity: {item['quantity']}" )
            
add_item(20,'Tomtom',456)  
add_item(2,'Potatoes',556)
add_item(12,'Lexus',45)
display_stock()
search_item(20)
delete_item(20)
display_stock()

Item Tomtom added to stock with ID 20
Item Potatoes added to stock with ID 2
Item Lexus added to stock with ID 12

Current Stock:
Item ID:20, Name: Tomtom, Quantity: 456
Item ID:2, Name: Potatoes, Quantity: 556
Item ID:12, Name: Lexus, Quantity: 45
Item ID:20, Name: Tomtom, Quantity: 456
Item with ID 20 deleted from stock

Current Stock:
Item ID:2, Name: Potatoes, Quantity: 556
Item ID:12, Name: Lexus, Quantity: 45

In [43]:
add_item(101, 'Good Mama 50kr rice', 25)
add_item(102, 'Power Oil 10kg', 90)
add_item(103, 'Golden Penny Spagetti', 105)
add_item(104, 'Semovita', 23)

Item Good Mama 50kr rice added to stock with ID 101
Item Power Oil 10kg added to stock with ID 102
Item Golden Penny Spagetti added to stock with ID 103
Item Semovita added to stock with ID 104

In [45]:
stock

{2: {'name': 'Potatoes', 'quantity': 556},
 12: {'name': 'Lexus', 'quantity': 45},
 101: {'name': 'Good Mama 50kr rice', 'quantity': 25},
 102: {'name': 'Power Oil 10kg', 'quantity': 90},
 103: {'name': 'Golden Penny Spagetti', 'quantity': 105},
 104: {'name': 'Semovita', 'quantity': 23}}

In [46]:
#lambda function: is anonymous which mean it has no name and cannot be reused, it is a one time function. It is used for
#simple task, it has to be on a single straight line
(lambda x,y:x+y)(78,90)

168

In [52]:
#lambda function to check if a user's name is in upper case
(lambda name:f'{name} is in upper case' if name == name.upper() else f'{name} is not in upper case')(input('Enter name:'))

Enter name:BISI

'BISI is in upper case'

In [57]:
#map:map is used for the modification of sequence like string, tuple and list where the lambda function carries the
#operation and the final outcome is returned as a list or tuple
language_name = ['python', 'c++', 'java', 'go', 'ruby', 'perl', 'php','rust','julia','cobol']
finaloutcome = list(map(lambda x:x.upper(), language_name))
print(finaloutcome)

['PYTHON', 'C++', 'JAVA', 'GO', 'RUBY', 'PERL', 'PHP', 'RUST', 'JULIA', 'COBOL']

In [59]:
#filter: is used for the selection in sequence like string, tuple and list where the lambda function carries the
#operation and the final outcome is returned as a list or tuple
language_name = ['python', 'c++', 'java', 'go', 'ruby', 'perl', 'php','rust','julia','cobol']
finaloutcome = list(filter(lambda x:x.startswith('R'), finaloutcome))
print(finaloutcome)

['RUBY', 'RUST']

In [61]:
#Exercise
#From the sequence below find the even and odd numbers seperated in different list
numbers = []
import random
for i in range (1,51):
    num = random.randint(14,89)
    numbers.append(num)
print(numbers)

[52, 42, 42, 49, 60, 50, 21, 66, 16, 26, 41, 32, 43, 33, 24, 26, 31, 25, 54, 70, 84, 83, 54, 18, 87, 64, 53, 68, 43, 69, 53, 15, 22, 20, 54, 62, 23, 23, 88, 62, 35, 25, 24, 58, 68, 77, 60, 76, 17, 35]

In [74]:
even = list(filter(lambda x:x % 2==0, numbers))
odd = list(filter(lambda x:x%2 ==1,numbers))
list1 = even.copy()
list2 = odd.copy()
print(list1)

[52, 42, 42, 60, 50, 66, 16, 26, 32, 24, 26, 54, 70, 84, 54, 18, 64, 68, 22, 20, 54, 62, 88, 62, 24, 58, 68, 60, 76]

In [76]:
even = numbers % 2==0
print(even)

TypeError: unsupported operand type(s) for %: 'list' and 'int'