In [5]:
# Tuple
numbers = (14,15,65,60,23,25,85,60,45,48,47,60)
print(type(numbers))

<class 'tuple'>

In [6]:
print(len(numbers))

12

In [8]:
# To select a particular number in the tuple
print(numbers[5])

25

In [9]:
# To count backwards start from -1
print(numbers[-7])

25

In [11]:
# To select a range of values
print(numbers[2:7])

(65, 60, 23, 25, 85)

In [13]:
# To use the membership operator
print(100 in numbers)

False

In [14]:
# To count the occurence of a particular number
print(numbers.count(60))

3

In [16]:
# index function checks the location of a particular number
print(numbers.index(85))

6

In [23]:
# List
shopA = ['Apple','Bucket','Strawberry','Lemon','Banana']

In [24]:
# append function adds value at the end of the list
shopA.append('Pear')
print(shopA)

['Apple', 'Bucket', 'Strawberry', 'Lemon', 'Banana', 'Pear']

In [25]:
# in insert function, you have to specify the particular loaction you want to add the value
shopA.insert(2, 'Pen')
print(shopA)

['Apple', 'Bucket', 'Pen', 'Strawberry', 'Lemon', 'Banana', 'Pear']

In [26]:
# in extend, it means you are moving a value in a list to another list
shopB = ['Book', 'Phone', 'Chalk']
shopA.extend(shopB)
print(shopA)

['Apple', 'Bucket', 'Pen', 'Strawberry', 'Lemon', 'Banana', 'Pear', 'Book', 'Phone', 'Chalk']

In [27]:
# to delete, we pop or remove. Pop specifies the index location while remove specifies the value
shopA.pop(3)
print(shopA)

['Apple', 'Bucket', 'Pen', 'Lemon', 'Banana', 'Pear', 'Book', 'Phone', 'Chalk']

In [28]:
shopA.remove('Book')
print(shopA)

['Apple', 'Bucket', 'Pen', 'Lemon', 'Banana', 'Pear', 'Phone', 'Chalk']

In [29]:
#sort function arranges the data or value in ascending order
shopA.sort()
print(shopA)

['Apple', 'Banana', 'Bucket', 'Chalk', 'Lemon', 'Pear', 'Pen', 'Phone']

In [30]:
#reverse function arranges the data or value in descending order
shopA.reverse()
print(shopA)

['Phone', 'Pen', 'Pear', 'Lemon', 'Chalk', 'Bucket', 'Banana', 'Apple']

In [31]:
#copy function makes a duplicate of the specified list
shopC = shopA.copy()
print(shopC)

['Phone', 'Pen', 'Pear', 'Lemon', 'Chalk', 'Bucket', 'Banana', 'Apple']

In [32]:
#clear functons clears out all the value in a list
shopC.clear()
print(shopC)

[]

In [33]:
#delete function
del(shopC)
print(shopC)

NameError: name 'shopC' is not defined

In [34]:
#Dictionary ('key':'value')
records = {
    'Name':'Fatima',
    'Age':45,
    'Gender':'Female',
    'Height':1.56,
    'weight':60.5
}
print(records['Height'])

1.56

In [35]:
# Dictionary Operation
# To add a new key
records['Address'] = 'No 25 Highway Street'
print(records)

{'Name': 'Fatima', 'Age': 45, 'Gender': 'Female', 'Height': 1.56, 'weight': 60.5, 'Address': 'No 25 Highway Street'}

In [36]:
# To update a value
records['Height'] = 1.65
print(records)

{'Name': 'Fatima', 'Age': 45, 'Gender': 'Female', 'Height': 1.65, 'weight': 60.5, 'Address': 'No 25 Highway Street'}

In [37]:
# Or...
newval = {'Height':1.66}
records.update(newval)
print(records)

{'Name': 'Fatima', 'Age': 45, 'Gender': 'Female', 'Height': 1.66, 'weight': 60.5, 'Address': 'No 25 Highway Street'}

In [38]:
# to delete, we use popitem or pop (popitem deletes the last key and value in a dictionary)
records.popitem()
print(records)

{'Name': 'Fatima', 'Age': 45, 'Gender': 'Female', 'Height': 1.66, 'weight': 60.5}

In [39]:
# to delete using pop, you have to specify the key
records.pop('Age')
print(records)

{'Name': 'Fatima', 'Gender': 'Female', 'Height': 1.66, 'weight': 60.5}

In [41]:
#to return keys only
print(records.keys())

dict_keys(['Name', 'Gender', 'Height', 'weight'])

In [42]:
#to return values only
print(records.values())

dict_values(['Fatima', 'Female', 1.66, 60.5])

In [43]:
# to select a particular value in a key
records = {
    'Name':['Ade','Bisi','James'],
}
print(records['Name'][1])

Bisi